<div class="container">

    <header><h3>Products</h3></header>

    <div id="product-card">
        <div class="p-card" *ngFor = "let product of list_data">
            <div *ngIf="product.files.length != 0 && product.files" >
                <img src="assets/images/{{product.files[currentFileIndex].fileName}}" class="card-img-top" alt="...">
            </div>
            
            <div class="card-body">
              <h5 class="card-title">{{product.productName}}</h5>
              <p class="card-text">{{product.productDescription}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="product-campaign" *ngIf = "product.campaign">{{product.campaign.campaignName}}</li>
                <li class="list-group-item" id="product-campaign" *ngIf = "!product.campaign">Kampanyaya Dahil Değildir</li>
                <li class="list-group-item" id="product-price">{{product.productPrice}}₺</li>
            </ul>
            <div class="card-body" id="icons">
                <button  id="" aria-label="cart" type="button" class="btn card-link">Add to cart</button>
                  <button id="" aria-label="favorites" type="button" class="btn card-link">Add favorites</button>
                  <button  id="" aria-label="edit" type="button" class="btn card-link" (click)="Update(product.productId)">Update</button>
                  <button  id="" aria-label="trash" type="button" class="btn card-link" (click)="Delete(product.productId)">Delete</button>
    
              </div>
          </div>
          
    </div>

    <nav aria-label="pages" id="page-card" class="fixed-bottom">
        <ul class="pagination justify-content-center">
    
          <li class="page-item">
            <button [ngClass]="{'page-item active': currentPage > 1, 'page-item disabled' : currentPage <= 1}" class="page-link" (click)="List(currentPage - 1)">Previous</button>
          </li>
    
          <li class="page-item">
            <button  class="page-link" (click)="List(1)">1</button>
          </li>
    
          <li class="page-item" *ngIf="currentPage - 1 > 1">
            <button  class="page-link" (click)="List(currentPage-1)">...</button>
          </li>
    
          <div  *ngFor="let page of pageArray">
    
            <li [ngClass]="{'page-item active': currentPage == page, 'page-item' : currentPage != page }" class="page-item active" aria-current="page">
    
              <span >
                <button *ngIf="page != 1 && page != pageArray.length && page == currentPage" type="submit" class="page-link" (click)="List(page)">{{page}}</button>
              </span>
             
            </li>
    
          </div>
    
          <li class="page-item" *ngIf="pageArray.length - currentPage > 1">
            <button  class="page-link" (click)="List(currentPage+1)">...</button>
          </li>
    
          <li class="page-item">
            <button class="page-link" (click)="List(pageArray.length)">{{pageArray.length}}</button>
          </li>
    
          <li class="page-item">
            <button [ngClass]="{'page-item active': currentPage < pageArray.length, 'page-item disabled' : currentPage >= pageArray.length}" class="page-link" (click)="List(currentPage + 1)">Next</button>
          </li>
    
        </ul>
      </nav>

      <div class="add-button">
        <button type="button" id="add-button" class="nav-item nav-link-edit" (click)="Add()">Add Product</button>
      </div>

</div>