<div class="container">

    <header><h3>Products</h3></header>

    <div id="product-card">
        <div class="p-card" *ngFor = "let product of list_data">
            <div *ngIf="product.files.length != 0 && product.files" >
                <img src="assets/images/{{product.files[currentFileIndex].fileName}}" class="card-img-top" alt="...">
            </div>
            
            <div class="card-body">
              <h5 class="card-title">{{product.productName}}</h5>
              <p class="card-text">{{product.productDescription}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="product-campaign" *ngIf = "product.campaign">{{product.campaign.campaignName}}</li>
                <li class="list-group-item" id="product-campaign" *ngIf = "!product.campaign">Kampanyaya Dahil Değildir</li>
                <li class="list-group-item" id="product-price">{{product.productPrice}}₺</li>
            </ul>
            <div class="card-body" id="icons">
                <button  id="" aria-label="cart" type="button" class="btn card-link">Add to cart</button>
                  <button id="" aria-label="favorites" type="button" class="btn card-link">Add favorites</button>
                  <button  id="" aria-label="edit" type="button" class="btn card-link" (click)="Update(product.productId)">Update</button>
                  <button  id="" aria-label="trash" type="button" class="btn card-link" (click)="Delete(product.productId)">Delete</button>
    
              </div>
          </div>
          
    </div>

</div>